/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/* Colors */
$accent: #493655;
$topbarBackground: #ddd;
$userlistBackground: #f5f5f5;
$lightGrey: #aaa;
$lighterGrey: #fafafa;

/* Base styles */

html, body {
  height: 100%;
  width: 100%;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 1em;
  line-height: 1.3em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  font-size: 1.4em;
  padding: 10px;
}

/* Sections */

main.chat-column, section.channels-column {
  display: block;
  box-sizing: border-box;
  padding-top: 40px;
  float: left;
  height: 100%;
}

main.chat-column {
  width: 85%;

  div.chat {
    display: table;
    box-sizing: border-box;
    width: 85%;

    >header {
      border-bottom: 1px dashed $lightGrey;
    }

    div.message { 
      box-sizing: border-box;
      display: table-row;
      vertical-align: top;

      span.from {
        display: table-cell;
        width: 140px;
        float: left;
        padding: 5px;

        a, time {
          display: block;
        }
      }

      span.text {
        display: table-cell;
        vertical-align: top;
        padding: 5px;
      }
    }

    div.message:hover {
      background-color: $lighterGrey;
    }
  }

  section.input-bar {
    position: absolute;
    display: block;
    box-sizing: border-box;
    bottom: 0;
    width: 85%;
    background-color: darken($accent, 5%);
    padding: 10px 10px 10px 0;
    height: 50px;

    input {
      width: 93%;
    }

    button {
      float: right;
    }
  }
}

section.menu-bar {
  position: absolute;
  width: 100%;
  background-color: $topbarBackground;
  height: 40px;
}

section.channels-column {
  width: 15%;
  background-color: $accent;
  color: white;

  section.buttons {
    position: absolute;
    display: block;
    box-sizing: border-box;
    bottom: 0;
    width: 15%;
    background-color: darken($accent, 5%);
    text-align: center;
    height: 50px;

    button {
      background-color: transparent;
      border: 0;
      font-size: 2em;
      font-weight: bold;
      padding: 15px 0;
    }
  }

  ul {
    padding: 0;

    li {
      padding: 5px 20px;

      a {
        color: white;
      }
    }

    li:hover {
      background-color: darken($accent, 5%);
    }
  }
}

section.users-column {
  float: right;
  box-sizing: border-box;
  width: 15%;
  background-color: $userlistBackground;
  height: 100%;
  overflow: auto;

  ul {
    padding: 20px 0;

    li {
      padding: 0 20px;

      a {
        color: $accent;
      }
    }
  }
}