/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* Colors */
/* Base styles */
html, body {
  height: 100%;
  width: 100%;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 1em;
  line-height: 1.3em;
  background-color: #493655; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

header {
  font-size: 1.4em;
  padding: 10px; }

/* Sections */
main.chat-column {
  display: block;
  position: absolute;
  top: 40px;
  right: 0px;
  bottom: 0px;
  left: 200px;
  background-color: white; }
  main.chat-column div.chat-wrapper {
    position: absolute;
    top: 0px;
    right: 200px;
    bottom: 50px;
    left: 0px;
    overflow-y: auto;
    box-sizing: border-box; }
  main.chat-column div.chat {
    display: table;
    box-sizing: border-box;
    width: 100%; }
    main.chat-column div.chat > header {
      border-bottom: 1px dashed #aaa; }
    main.chat-column div.chat div.message {
      box-sizing: border-box;
      display: table-row;
      vertical-align: top; }
      main.chat-column div.chat div.message:hover {
        background-color: #fafafa; }
      main.chat-column div.chat div.message span.from {
        display: table-cell;
        width: 140px;
        float: left;
        padding: 5px; }
        main.chat-column div.chat div.message span.from a, main.chat-column div.chat div.message span.from time {
          display: block; }
      main.chat-column div.chat div.message span.text {
        display: table-cell;
        vertical-align: top;
        padding: 5px; }
  main.chat-column section.input-bar {
    position: absolute;
    display: block;
    box-sizing: border-box;
    bottom: 0;
    left: 0px;
    right: 200px;
    background-color: #3c2c45;
    padding: 10px 10px 10px 0;
    height: 50px; }
    main.chat-column section.input-bar div.input-wrapper {
      position: absolute;
      top: 5px;
      right: 90px;
      bottom: 10px;
      left: 0; }
      main.chat-column section.input-bar div.input-wrapper input {
        height: 100%;
        width: 100%;
        padding: 0 10px; }
    main.chat-column section.input-bar button {
      float: right; }

section.menu-bar {
  position: absolute;
  width: 100%;
  background-color: #ddd; }
  section.menu-bar ul {
    margin-left: 15px; }
    section.menu-bar ul li {
      display: inline; }
  section.menu-bar a {
    line-height: 40px;
    padding: 12px;
    color: #487086; }
    section.menu-bar a:hover {
      color: #7f5e93;
      background-color: #c4c4c4; }

section.channels-column {
  position: absolute;
  top: 40px;
  width: 200px;
  color: white; }
  section.channels-column ul {
    padding: 0; }
    section.channels-column ul li {
      padding: 5px 20px; }
      section.channels-column ul li:hover {
        background-color: #3c2c45; }
      section.channels-column ul li a {
        color: white; }

section.channel-buttons {
  position: absolute;
  display: block;
  box-sizing: border-box;
  bottom: 0;
  width: 200px;
  background-color: #3c2c45;
  text-align: center;
  height: 50px;
  padding: 12px; }
  section.channel-buttons:hover {
    background-color: #644a74; }
  section.channel-buttons button {
    background-color: transparent;
    border: 0;
    font-size: 2em;
    font-weight: bold; }

section.users-column {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  overflow-y: auto; }
  section.users-column ul {
    padding: 0; }
    section.users-column ul li {
      padding: 0 10px; }
      section.users-column ul li a {
        color: #493655; }

/*# sourceMappingURL=main.css.map */
