/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* Colors */
/* Base styles */
html, body {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 1em;
  line-height: 1.3em;
  background-color: #493655; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

header {
  font-size: 1.4em;
  padding: 10px; }

.hidden {
  display: none; }

button, .btn:focus, .btn:active:focus {
  outline: none; }

/* Sections */
main.chat-column {
  display: block;
  position: absolute;
  top: 40px;
  right: 0px;
  bottom: 0px;
  left: 200px;
  background-color: white; }
  main.chat-column header {
    background-color: #cbe4e7;
    color: #243B4A; }
  main.chat-column div.chat-wrapper {
    position: absolute;
    top: 0px;
    right: 200px;
    bottom: 50px;
    left: 0px;
    box-sizing: border-box; }
    main.chat-column div.chat-wrapper .chat-scroll {
      position: absolute;
      top: 40px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      box-sizing: border-box;
      overflow-y: auto; }
  main.chat-column div.chat {
    display: table;
    box-sizing: border-box;
    width: 100%; }
    main.chat-column div.chat > header {
      border-bottom: 1px dashed #aaa; }
    main.chat-column div.chat div.message {
      box-sizing: border-box;
      display: table-row;
      vertical-align: top; }
      main.chat-column div.chat div.message:hover {
        background-color: #f6f6f6; }
      main.chat-column div.chat div.message.action .from, main.chat-column div.chat div.message.action .text, main.chat-column div.chat div.message.scheduled .from, main.chat-column div.chat div.message.scheduled .text {
        background-color: #f1f8f8;
        vertical-align: middle; }
      main.chat-column div.chat div.message.action .text, main.chat-column div.chat div.message.scheduled .text {
        font-style: italic;
        color: #4d4d4d;
        text-align: center; }
      main.chat-column div.chat div.message.action:hover .from, main.chat-column div.chat div.message.action:hover .text, main.chat-column div.chat div.message.scheduled:hover .from, main.chat-column div.chat div.message.scheduled:hover .text {
        background-color: inherit; }
      main.chat-column div.chat div.message.scheduled span.from time {
        display: inline; }
      main.chat-column div.chat div.message span.from {
        display: table-cell;
        width: 100px;
        float: left;
        padding: 5px;
        font-weight: 400; }
        main.chat-column div.chat div.message span.from button, main.chat-column div.chat div.message span.from time {
          display: block; }
        main.chat-column div.chat div.message span.from time {
          font-size: .85em;
          line-height: 1.1em; }
        main.chat-column div.chat div.message span.from button {
          color: #715484;
          padding: 0;
          text-align: left;
          font-size: 16px; }
          main.chat-column div.chat div.message span.from button:hover {
            text-decoration: none; }
      main.chat-column div.chat div.message span.text {
        display: table-cell;
        vertical-align: top;
        padding: 5px;
        font-size: 1.1em;
        line-height: 1.2em; }
  main.chat-column section.input-bar {
    position: absolute;
    display: block;
    box-sizing: border-box;
    bottom: 0;
    left: 0px;
    right: 200px;
    background-color: #f5f5f5;
    border-top: 1px solid #aaa;
    padding: 10px 10px 10px 0;
    height: 50px; }
    main.chat-column section.input-bar div.input-wrapper {
      position: absolute;
      top: 5px;
      right: 45px;
      bottom: 5px;
      left: 5px; }
      main.chat-column section.input-bar div.input-wrapper label {
        position: absolute;
        top: 6px;
        left: 6px;
        padding: 3px 7px;
        border-radius: 3px;
        background-color: #d5eaeb; }
        main.chat-column section.input-bar div.input-wrapper label:after {
          content: ":"; }
      main.chat-column section.input-bar div.input-wrapper input {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        padding: 0 20px 0 100px; }
    main.chat-column section.input-bar button {
      position: absolute;
      top: 1px;
      bottom: 1px;
      right: 1px;
      padding: 10px;
      font-size: 1.5em;
      background-color: transparent;
      border: 0;
      color: #493655; }
      main.chat-column section.input-bar button:hover {
        color: #2e2236; }

div.navbar {
  position: absolute;
  width: 100%;
  height: 40px;
  min-height: 40px;
  box-sizing: border-box;
  background-color: #ddd;
  border-radius: 0; }
  div.navbar a {
    line-height: 40px;
    padding: 0 12px;
    color: #487086; }
  div.navbar ul.dropdown-menu {
    margin-top: -2px; }

section.channels-column {
  position: absolute;
  top: 40px;
  width: 200px;
  color: white; }
  section.channels-column header {
    background-color: #644a74;
    color: #e0d7e6; }
  section.channels-column ul {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 0; }
    section.channels-column ul li {
      cursor: pointer; }
      section.channels-column ul li:hover {
        background-color: #3c2c45; }
      section.channels-column ul li a {
        box-sizing: border-box;
        padding: 5px 20px;
        display: block;
        width: 100%;
        color: white; }
        section.channels-column ul li a:hover {
          text-decoration: none;
          color: #e5f1f3; }
  section.channels-column.a-test ul {
    top: 40px; }
  section.channels-column.b-test ul {
    top: 90px; }

div.new-channel-wrapper {
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 200px;
  height: 50px; }
  div.new-channel-wrapper.a-test {
    bottom: 0; }
  div.new-channel-wrapper.b-test {
    top: 80px; }
  div.new-channel-wrapper button.new-channel {
    width: 100%;
    height: 100%;
    background-color: #3c2c45;
    text-align: center;
    height: 50px;
    padding: 10px;
    color: #eee;
    border: 0;
    font-size: 1.5em;
    border-radius: 0; }
    div.new-channel-wrapper button.new-channel:hover {
      cursor: pointer;
      background-color: #668091;
      color: white; }

section.users-column {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  overflow-y: auto; }
  section.users-column header {
    background-color: #dde9eb;
    color: #243B4A; }
  section.users-column ul.user-list {
    padding: 10px 0 0 0; }
    section.users-column ul.user-list .btn-group {
      width: 100%; }
      section.users-column ul.user-list .btn-group button {
        display: block;
        text-align: right;
        color: #493655;
        width: 100%;
        padding: 0 30px 0 10px; }
        section.users-column ul.user-list .btn-group button:hover:after {
          content: "\e259";
          font-family: "Glyphicons Halflings";
          font-size: 70%;
          color: #493655;
          float: right;
          margin-right: -15px;
          margin-top: 4px; }

.modal.add-channel li.list-group-item {
  padding: 0;
  cursor: pointer; }
  .modal.add-channel li.list-group-item.cant-find {
    cursor: default; }
  .modal.add-channel li.list-group-item:hover:not(.cant-find) {
    background-color: #dddddd; }
  .modal.add-channel li.list-group-item span {
    display: block;
    padding: 10px; }
  .modal.add-channel li.list-group-item span.header {
    background-color: rgba(0, 0, 0, 0.05);
    font-weight: 400; }
  .modal.add-channel li.list-group-item span.description {
    padding-top: 5px; }

.modal.schedule select.frequency-value {
  margin-left: 5px; }

.ab-test-alert {
  position: absolute;
  top: 100px;
  left: 300px; }

button.right {
  float: right; }

/* Landing page styles */
.landing {
  background-color: white; }
  .landing main {
    margin: 100px auto 0 auto;
    width: 300px; }
    .landing main header {
      padding: 0 0 15px 0; }
    .landing main label {
      font-weight: lighter;
      display: block; }
    .landing main button, .landing main button:focus {
      width: 100%;
      background-color: #493655;
      color: white; }
      .landing main button:hover, .landing main button:focus:hover {
        background-color: #644a74;
        color: white; }
    .landing main .alert code {
      white-space: nowrap; }

/*# sourceMappingURL=main.css.map */
